/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
	background-color: #FFFEF8
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li a {
	text-decoration: none;
	color: #000000;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
	padding-top: 1.5em;
}

footer {
	height: 60px;
	background-color: white;

}

/**********Boutons**********/

.category-menu {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 10px;
	margin: 50px auto;
	justify-content: center;
	margin-top: 60px;
}

button {
	display: flex;
	align-items: center;
	border-radius: 60px;
	padding: 1rem 1rem;
	font-family: "Syne";
	font-size: 16px;
	font-weight: 700;
	border: 1px solid #1d6154;
	color: #1d6154;
	background: none;
	transition: 0.3s ease;
	height: 40px;
}

button:hover,
button:active {
	color: white;
	background-color: #1D6154;
	transform: scale(1.1);
	cursor: pointer;
}


/**********Login**********/

.passwordForget {
	display: flex;
	justify-content: center;
	color: #3D3D3D;
}

.submit:hover {
	cursor: pointer;
	background-color: #0E2F28;
}

.lienLogin {
	font-weight: 600;
}


/**********Modal************/

.modal {
	visibility: hidden;
	display: none;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);

}

.show {
	visibility: visible;
	display: flex;
}

.modal-1 {
	overflow: auto;
	background-color: white;
	width: 630px;
	height: 688px;
	padding: 30px;
	box-sizing: border-box;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

#titlemodal1 {
	display: flex;
	justify-content: center;
	font-size: 26px;
	font-weight: 400;
	margin-bottom: 40px;
}

.modal span {
	display: flex;
	justify-content: end;
}

.modal span .fa-xmark {
	font-size: 24px;
	cursor: pointer;
}

hr {
	margin-top: 150px;
	width: 100%;
}

#addPhotoBtn {
	display: flex;
	justify-content: center;
	width: 237px;
	height: 36px;
	color: white;
	background-color: #1D6154;
}

.container-gallery {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 40px;
	padding-left: 40px;
}

.ButtonPhoto {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.modifierText {
	font-size: 30px;
}

.modalGallery {
	display: grid;
	width: 100%;
	height: 50%;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 40% 40% 40%;
	grid-column-gap: 10px;
	grid-row-gap: 30px;
}


.modalGallery figure {
	width: 100%;
	height: 100%;
	position: relative;
}

.modalGallery figure span {
	display: block;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: black;
	height: 18px;
	width: 18px;
	border-radius: 2px;
	color: #FFFEF8;
}

.modalGallery img {
	width: 100%;
	height: 100%;
}


/**********Modal 2************/

.modal-2 {
	display: none;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: white;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: auto;
	width: 630px;
	height: 688px;
	padding-left: 100px;
	border-radius: 10px;
	gap: 10px;
}

.modal-2 .arrow-left {
	position: absolute;
	top: 30px;
	left: 24px;
}

.modal-2 .arrow-left .fa-arrow-left {
	font-size: 1.5rem;
	cursor: pointer;
}

.modal-2 .xmark {
	position: absolute;
	top: 30px;
	right: 24px;
}

.modal-2 .xmark .fa-xmark {
	font-size: 1.5rem;
	cursor: pointer;
}

.modal-2 h3 {
	text-align: center;
	margin-left: -100px;
	margin-top: 60px;
	font-weight: 400;
	font-size: 1.5rem;
	margin-bottom: 20px;
	font-family: Work Sans;
}

.modal-2 form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 80%;
	width: 80%;
	gap: 20px;
}

.modal-2 form .containerAjouterPhoto {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 35%;
	background-color: #e8f1f6;
	gap: 10px;
}

.modal-2 form .containerAjouterPhoto img {
	display: none;
	max-width: 100%;
	height: 100%;
	z-index: 2;
	position: absolute;
}

.modal-2 form .containerAjouterPhoto .fa-image {
	font-size: 4rem;
	color: #b9c5cc;
}

.modal-2 form .containerAjouterPhoto .labelFile {
	display: block;
	display: flex;
	align-items: center;
	background-color: #b9c5cc;
	border-radius: 15px;
	height: 30px;
	padding: 0 20px;
	color: #306685;
	cursor: pointer;
}

.modal-2 form .containerAjouterPhoto input {
	opacity: 0;
}

.modal-2 form #title {
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	height: 8%;
	border: 1px;
}

.modal-2 form #categoryInput {
	box-sizing: border-box;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	height: 8%;
	margin-bottom: 20px;
	border: 1px;
}

.modal-2 form .containerBoutonValider {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 100%;
	border-top: 1px solid gray;
}

.modal-2 form .containerBoutonValider .buttonValidForm {
	background-color: #1d6154;
	padding: 9px 50px;
	border-radius: 25px;
	color: white;
	font-weight: 700;
	font-size: 1rem;
	font-family: Syne;
	cursor: pointer;
}

.modal-2 form .containerBoutonValider .boutonValider {
	background-color: #a7a7a7;
	padding-left: 85px;
	border-radius: 25px;
	color: white;
	font-weight: 700;
	font-size: 1rem;
	font-family: Syne;
	width: 237px;
	cursor: pointer;
}

.modal-2 form .containerBoutonValider .boutonValider:hover {
	border: 1px solid #1d6154;

}

.hidden {
	display: none;
}